body {
    background: #1E2749; 
    font-family: 'Lato', sans-serif;
     
}

/* Header*/ 

h1 {
    color: #ffa9b1; 
    text-align: center; 
    font-family: 'Lobster', cursive;
    font-size: 3rem; 
    margin-top: 20px; 
}


h2 {
    color: #fac7cc; 
    text-align: center; 
    font-size: 2.5rem; 
}

/* Progress Bar */ 

.progress-section { 
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px; 

}

.bar-container {
    width: 70%; 
    margin-bottom: 20px; 
}

#bar-bottom {
    margin: 0 auto; 
    width: 70%; 
    height: 20px; 
    background: rgba(130, 127, 127, 0.3);
    position: absolute; 
}

#bar-top { 
    margin: 0 auto; 
    height: 20px; 
    position: absolute; 
    
     
}

.bar-top-easy { 
    margin: 0 auto; 
    height: 20px; 
    background: #B5EAD7; 
    position: absolute; 
    animation: linear; 
    animation-direction: reverse;
    animation-name: progress;
    animation-duration: 120s;
    animation-delay: 2s; 
}

.bar-top-regular { 
    margin: 0 auto; 
    height: 20px; 
    background: #C7CEEA; 
    position: absolute; 
    animation: linear; 
    animation-direction: reverse;
    animation-name: progress;
    animation-duration: 60s;
    animation-delay: 2s; 
}

.bar-top-hard { 
    margin: 0 auto; 
    height: 20px; 
    background: #FFB7B2; 
    position: absolute; 
    animation: linear; 
    animation-direction: reverse;
    animation-name: progress;
    animation-duration: 45s;
    animation-delay: 2s; 
}

@keyframes progress {
    from { width: 1%}
    to   { width: 70%}
}

.progress-section-time {
    display: flex; 
    justify-content: center; 
    margin-top: -20px; 
}
.time-indicators {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 70%; 
}
.time {
    color: white; 
}

/* Quiz Content */ 


h4 {
    font-size: 1.2rem; 
    color: #34322f; 
    text-decoration: underline; 
    margin-bottom: 20px; 
}

main {
    margin-top: 20px; 
    text-align: center; 

}

.question-container {
    width: 70%; 
    background: #FFFCF2; 
    color: #252422; 
    padding: 20px 20px 20px 20px;  
    margin: 20px auto;  
}

.question-text {
    font-size: 1.5rem; 
 
    
}

.answer-container p {
    font-size: 1.2rem; 
    cursor: pointer;
    padding: 10px 0 10px 0; 
     
}

@media only screen and (max-width: 600px) {
    .answer-container p {
      font-size: 1.2rem;
      cursor: pointer; 
      padding: 5px 0 5px 0; 
      border: 2px solid yellow; 
      margin-bottom: -2px; 
    }
  }

.final-message {
    width: 70%; 
    background: #fcfcfc; 
    color: #252422; 
    padding: 20px 20px 20px 20px;  
    margin: 20px auto;  
    visibility: hidden; 
}

.final-message p {
    font-size: 1.5rem; 
    padding: 10px 0 10px 0; 
    display: flex; 
    justify-content: center; 
}

footer {
    display: flex;
    justify-content: center;
}
.game-control-section {
    width: 70%; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}

.difficulty-level {
    width: 150px; 
    font-size: 1.2rem; 
    padding: 5px 10px 5px 10px; 

}
button {
    background: #DFF8EB; 
    width: 150px; 
    font-size: 1.2rem; 
    padding: 5px 10px 5px 10px; 
}